.content {
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #EEEEEE;
  padding: 20px;
}

#user_nav {
  float: right;
}

.product div {
  padding-left: 10px;
  float: left;
}

.product {
  float: left;
}

.product div:first-child {
  border-left: none;
}

.product .name, .product .price {
  width: 300px;
  padding: 10px 10px;
}

.product .price {
  border-left: 1px solid black;
}

.product .description {
  width: 300px;
}
